body {
  width: 100%;
  height: 100vh;
  background: url(./image/bg.jpg) rgba(0, 0, 0, 0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  overflow: hidden;
  position: relative;
}

.center {
  width: 150px;
  height: 150px;
  /* background-color: white; */
  border-radius: 50%;
  border: 1.5px solid whitesmoke;
  margin-top: 500px;
  margin-left: 660px;
  position: absolute;
  border-bottom: none;
}

.center img {
  margin-top: 10px;
  margin-left: 13px;
  border-radius: 50%;
  width: 80%;
  border: 3px solid white;
}

#center-text {
  color: whitesmoke;
  position: absolute;
  margin-top: 660px;
  margin-left: 700px;
}

#nav-text {
  color: whitesmoke;
  position: absolute;
}

#nav-text span {
  font-size: 60px;
  color: brown;
}

#project-background {
  background-color: aliceblue;
  width: 400px;
  height: 700px;
  position: absolute;
  margin-top: 50px;
  display: none;
}

#project {
  position: absolute;
  margin-top: 750px;
  margin-left: 50px;
}

.pop {
  color: aliceblue;
  position: absolute;
  margin-top: 730px;
  margin-left: 25px;
}

#FAQ-background {
  background-color: aliceblue;
  width: 400px;
  height: 700px;
  position: absolute;
  margin-top: 50px;
  display: none;
  margin-left: 550px;
}

#FAQ {
  position: absolute;
  margin-top: 750px;
  margin-left: 690px;
}

.pop1 {
  color: aliceblue;
  position: absolute;
  margin-top: 710px;
  margin-left: 690px;
}

#contact-background {
  /* background-color: rgba(205, 199, 197, 0.9); */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.3px);
-webkit-backdrop-filter: blur(10.3px);
border: 1px solid rgba(255, 255, 255, 0.65);
  width: 400px;
  height: 700px;
  position: absolute;
  margin-top: 50px;
  display: none;
  margin-left: 1000px;
  visibility: hidden;

}

#contact-background.animate.active {
  
  visibility: visible;

}

#contact {
  position: absolute;
  margin-top: 750px;
  margin-left: 1300px;
}

.pop2 {
  color: aliceblue;
  position: absolute;
  margin-top: 710px;
  margin-left: 1300px;
}

#contact-background {
  display: block;
  /* flex-wrap: wrap; */
}

.images {
  margin-top: 2rem;
  position: relative;
}

#img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 7px darkgray dashed;
  margin-left: 10px;
}
.boot{
  display: flex;
}
.boot1{
  display: flex;
}

.content p {
  /* line-height: 2; */
  width: 220px;
  margin-left: 40px;
  color: aliceblue;
  opacity: 20px;
}

.content h4 {
  margin-top: 50px;
  margin-left: 40px;
  color: white;
}
#img1 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
border: dashed darkgray 7px;
margin-left: 10px;
}
 #cardp1 {
  /* line-height: 2; */
  width: 220px;
  margin-left: 40px;
  color: aliceblue;
  opacity: 50px;
}

#card1 {
  margin-top: 50px;
  margin-left: 40px;
  color: white;
}

